# Manticore
mcore_*/

# Coverage report
coverage/
coverage.json

# Generic contracts exclusions
.openzeppelin/unknwon-*.json
.deps/*

# Blockchain parts
artifacts/
cache/
typechain-types/

# Node.js dependency directory
node_modules/

# .env files
.env

abi/
types/

tools/**/*.log

# build folder
build/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Lib folder
lib/

# Cache folder
forge-cache/

# Out folder
out/

# Forge doc folder
doc/